*.py[cod]
**/__pycache__/
.ipynb_checkpoints/
**/venv
plot_agent/langgraph_plot_agent/.env
plot_agent/agno_plot_agent/.env
plot_agent/agno_plot_agent/plots/plot_20250401_124310_2ec9f367.png
plot_agent/agno_plot_agent/.env
plot_agent/agno_plot_agent/plots/plot_20250401_172855_67aca1c4.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_093849_36a5c13d.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094525_9f79ff19.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094618_4751a4c2.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094619_82f5a254.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094619_68605df7.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094619_c0fdc3b6.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094710_bddf55cf.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094738_829c6fb6.png
plot_agent/langgraph_plot_agent/plots/plot_20250402_094836_31583579.png
plot_agent/agno_plot_agent/.env
