# Add any additional dependencies here
# That your model handler might need
# torch, torchvision, etc are already included in the base image
torch-model-archiver==0.12.0
torch==2.8.0
torchvision==0.19
torchserve==0.12.0
