accelerate==0.20.3
chromadb==0.3.26
duckdb==0.7.1
hnswlib==0.7.0
langchain==0.1.10
nltk==3.9
openai==1.16.2
pandas==1.5.3
PyMuPDF==1.22.2
pypdf==3.17.0
requests==2.32.2
sentence-transformers==2.2.2
sentencepiece==0.1.98
tiktoken==0.6.0
tokenizers==0.19.0
torch>=2.0.0,<3.0.0
transformers==4.40.2
truefoundry>=0.9.2,<0.10.0
unstructured==0.5.12
