mlflow==3.1.0
accelerate==1.7.0
astunparse==1.6.3
av==14.4.0
boto3==1.37.31
colorama==0.4.6
defusedxml==0.7.1
dill==0.3.8
google-adk==1.1.1
lz4==4.4.4
numpy==1.26.4
nvidia-ml-py3==7.352.0
nvidia-ml-py==12.560.30
optree==0.12.1
pandas==2.2.3
pynvml==11.5.0
pyopenssl==24.1.0
scikit-learn==1.7.0
scipy==1.14.1
torch==2.7.0
torchvision==0.22.0
transformers==4.52.4
typing==3.7.4.3
