streamlit>=1.28
langchain>=0.0.217
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
langchain-community
langchain-openai
langchain_experimental
langchain-text-splitters
langchain-core
qdrant-client
uvicorn
fastapi
langgraph
python-multipart
PyPDF2
unstructured
llama-index
llama-index-vector-stores-qdrant
langchain-qdrant


# Dev
black==23.3.0
mypy==1.4.1
pre-commit==3.3.3
watchdog
pytest
isort
autoflake
truefoundry
