streamlit>=1.28
langchain>=0.0.217
openai>=1.2
anthropic>=0.3.0
trubrics>=1.4.3
langchain-community
langchain-openai
langchain_experimental
langchain-text-splitters
langchain-core
qdrant-client==1.11.0
chromadb
uvicorn
fastapi
langgraph
python-multipart
unstructured[pdf]
langchain-qdrant
langchain-chroma


# Dev
black==23.3.0
mypy==1.4.1
pre-commit==3.3.3
watchdog
pytest
isort
autoflake
truefoundry
