fastapi
uvicorn
pydantic
python-multipart
clickhouse-driver
pandas
matplotlib
seaborn
streamlit
pillow
openai 
clickhouse_connect
python-dotenv
langgraph
langchain
langchain-openai
langchain-core
typing-extensions
traceloop-sdk
fastapi
langchain_community
opentelemetry-instrumentation-fastapi