clickhouse-driver>=0.2.9
clickhouse-connect>=0.8.17
fastapi>=0.115.12
langchain
langchain-core
langchain-openai
langchain_community
langgraph>=0.4.3
matplotlib
openai
opentelemetry-instrumentation-fastapi
pandas
pillow
pydantic
python-dotenv
python-multipart
seaborn
streamlit
traceloop-sdk
typing-extensions
uvicorn